/************************************************************************
CSS Stylesheet for portfolio
*************************************************************************/

body {
  font-family: "arial", sans-serif;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

p {
  line-height: 1.75;
}

a {
  color: #EBF1F2;
  text-decoration: none;
}

header {
  font-family: 'PT Sans Narrow', sans-serif;
  color: #EBF1F2;
  margin: 0%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 40px;
  padding-bottom: 300px;
  border: 0px;
  width: 90%;
  height: 100%; 
  background-image: url('../images/wave-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header h1 { 
  font-size: 60px;
  font-weight: bold;
  font-style: normal;
  padding-bottom: 10px;
  padding-top: 300px;
  margin: 0px;
  margin-left: 10px;
  padding-left: 10px;
  width: 35%;
}

header h3 {
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  padding-bottom: 10px;
  margin: 0px;
  margin-left: 10px;
  padding-left: 10px;
  width: 35%;
}

header h4 {  
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  padding-bottom: 4px;
  margin: 0px;
  margin-left: 10px;
  padding-left: 10px;
  width: 35%;
}

nav.m { 
  float: right;
  margin: 0px;
  border: 0px;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
}

nav.m a {
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  transition-property: font-size;
  transition-delay: 0s;
}

nav.m a:hover {
  font-size: 32px;
}

a:visited {
  color: #B6E1F2;
}

main {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 75px;
  padding-bottom: 75px; 
  margin: 0px;
  background-color: #034C8C;
}

#main-heading {
  padding-top: 0px;
  padding-bottom: 60px;
  margin-left: 0px;
  padding-left: 10px;
}

#main-heading a {
  padding-left: 10px;
  padding-right: 10px;

}

#main-heading a:first-of-type {
  padding-left: 0px;
}

.flex-container {
  padding: 0px;
  margin: 0px;
  border: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.projects {
  background-color: #023059;
  border-radius: 25px;
  padding-bottom: 20px;
  padding: 20px;
  margin: 10px;
  flex-grow: 1;
  flex-basis: 300px;
  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
}

.projects:nth-child(odd) {
  background-color: #012340;
}

.projects:hover {
    background-color: #0378A6;
  }

main article {
  padding-bottom: 30px;
}

main h2 {
  color: #EBF1F2;
  font-family: "arial", sans-serif;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  padding-bottom: 15px;
  margin: 0px;
}

main h3 a {
  color: #EBF1F2;
  font-family: "arial", sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.5;
}

main p {
  color: #EBF1F2;
  font-family: "arial", sans-serif;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
}

main {
  color: #EBF1F2;
}

figure {
  margin: 0;
  border: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

img {
  max-width: 100%;
  height: auto; 
}

.projects img {
  width: 100%;
}

figcaption {
  line-height: 1.8;
}

footer {
  background-color: #023059;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  border: 0px;
  margin: 0px;
}

footer a {
  color: #EBF1F2;
  padding-left: 8px;
  padding-right: 8px;
  text-decoration: none;
}

.center {
  margin: auto;
  padding: 20px;
  text-align: center;
}

ul {
  line-height: 1.75;
  font-family: "arial", sans-serif;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  padding-bottom: 50px;
}

.contact-main {
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0px;
  border: 0px;
}

.form-flex {
  background-color: #012340;
  border-radius: 25px;

  border: 0px;
  max-width: 800px;

  padding-left: 5%;
  padding-right: 5%;
  margin: auto;
  min-width: 300px;

  padding-top: 25px;
  padding-bottom: 25px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.input-flex {
  padding: 0px;
  margin: 0px;
  border: 0px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.input-flex label {
  padding: 0px;
  margin: 0px;
  border: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 40%;
}

.input-flex input {
  margin: 0px;
  padding: 0px;
  border: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 60%;
}

.sub-flex {
  padding: 0px;
  margin: 0px;
  border: 0px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

}

.sub-flex input {
  margin: 0px;
  padding: 0px;
  border: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 40%;
}

#form-header {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0px;
}

#submit-button {
  font-weight: bolder;
}

.msg-flex {
  padding: 0px;
  margin: 0px;
  border: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.msg-flex label {
  padding-top: 8px;
  padding-bottom: 2px;
  margin: 0px;
  border: 0px;
}

#msgbox {
  max-width: 100%;
  min-width: 100%;
  min-height: 200px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
}